.about-header{
    background-color:rgb(205,107,46);
    /* border:3px solid black; */
    height:100px;
    width:250px;
    position: absolute;
    top:100px;
    left: 47%;
    box-shadow:-10px -10px rgb(241,243,244;)
}
.about-header h2{
    font-family: 'IM Fell English', serif;
    font-weight:600px;
    text-align: center;
    /* margin-top:50px; */
    padding-top:15px;
    text-shadow:black;
}
.container{
    height: 700px;
    width: 100%;
    margin-top:250px;
}
.container-box{
    height: 650px;
    width: 30%;
    border: 3px solid rgb(205,107,46);
    float: left;
    margin-left: 30px;
    /* text-shadow:black; */
}
.container-box img{
    height:360px ;
    width: 85%;
}
.container-box img, .container-box audio, .container-box iframe{
    /* margin auto */
    /* display: inline-block; */
    display: block;
    margin: auto;
    margin-top: 30px;
}
.container-box p{
    padding: 25px;
}

.social{
    margin-top: 25px;
}
.copy{
    color: white;
    margin-top: 20px;
}
/* .input, .button, .fab{
    display: block;
    text-align: center;
} */
.footer{
    background-color:rgb(23,66,56);
}
.footer-input{
    margin-top: 15px;
    width:77%;
    float: left;
}
.footer-input, .social, .copy {
    display:block;
    text-align: center;
}
